.client-trainer-header {
    background-color: #fff;
    padding: 14px;
}

.client-trainer-header__title {
    display: flex;
    justify-content: space-between;
}

.client-trainer-header h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
}

.client-trainer-header h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
    color: #ee4d45;
}

.client-trainer-header span {
    font-size: 14px;
    font-weight: 400;
    line-height: 35.02px;
}

.client-trainer-header p {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}