.weight h2 {
    font-size: 12px;
    font-weight: 600;
}

.weight {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 20px;
}

.weight__table {
    position: relative;
    width: 100%;
    height: 24px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
}

.weight__table-main {
    overflow-y: hidden;
    overflow-x: auto;
    font-size: 10px;
    font-weight: 300;
    width: 100%;
    height: 120%;
    display: flex;
}

.weight__table-main-column {
    width: 14.29%;
    min-width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weight__table-main-column:not(:last-child) {
    border-right: 1px solid #cdcdcd;
}

.weight__table-main-item {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weight__table-main-item:not(:first-child) {
    border-top: 1px solid #cdcdcd;
}

.weight__table-main-item_data {
    font-size: 8px;
    font-weight: 300;
    height: 18px;
    border-bottom: 1px solid #cdcdcd;
}

.weight__table-name-item_data {
    height: 18px;
    border-bottom: 1px solid #cdcdcd;
}

.table-anthropometry {
    background-color: #262b3f;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 14px;
    padding-right: 14px;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 14px;
}

.table-anthropometry__table {
    background-color: #262b3f;
}

.table-anthropometry__table-name {
    background-color: #3e4253;
}
