.progress-dop h2 {
    font-size: 12px;
    font-weight: 600;
}



.progress-dop {
    position: relative;
    margin-left: 14px;
    margin-right: -14px;
    margin-bottom: 14px;
}

.progress-dop__axis {
    position: absolute;
    z-index: 1;
    font-size: 11px;
    color: rgb(34, 34, 34);

}

.progress-dop_weight {
    top: 6px;
    left: -10px;
}

.progress-dop_date {
    right: 5px;
    bottom: 10px;
}

/* .progress-dop rect {
    fill: #EF4645 !important;
} */