.day-nutrition {
    background-color: #262b3f;
    padding: 20px 16px;
}

.day-nutrition__block {
    padding: 12px;
    width: 100%;
    min-height: 209px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-nutrition__block h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.day-nutrition__header {
    display: flex;
    justify-content: space-between;
}

.day-nutrition__header span {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 300;
}

.day-nutrition__header span img {
    width: 14px;
    height: 14px;
    margin-left: 1px;
}

.day-nutrition__main {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
}

.day-nutrition__eat span:not(:last-child)::after {
    content: '/ ';
}

.day-nutrition__footer {
    display: flex;
    justify-content: space-between;
}

.day-nutrition__footer span {
    font-size: 11px;
    font-weight: 400;
}

.day-nutrition__bonus {
    align-self: flex-end;
    font-size: 10px;
    color: #ee4d45;
}
