.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    align-items: center;
}

.calendar__month {
    margin: 14px auto;

    display: flex;
    font-size: 12px;
    font-weight: 400;
    align-items: center;
}

.calendar__month h3 {
    margin: 0 21px;
}

.calendar__arrow {
    width: 11px;
    height: 9px;
}

.calendar__main {
    display: flex;
    width: 198px;
    flex-wrap: wrap;
    margin-bottom: 19px;
}

.calendar__item {
    width: 24px;
    height: 23px;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin: 2px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__item:empty {
    opacity: 0;
}


div.calendar_green {
    background-color: #6ac156;
    color: #fff;
}

div.calendar_blue {
    background-color: blue;
    color: #fff;
}

div.calendar_yellow {
    background-color: yellow;
}




div.calendar_red {
    background-color: #EF4344;
    color: #fff;
}