.video {
    padding-left: 14px;
    height: 210px;
    background-color: #fff;
}

.video h2 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 7px;
}

.video iframe {
    width: 90%;
    height: 180px;
    left: 50%;
    margin-left: -45%;
    position: absolute;
    border-radius: 10px;
}