.video {
    margin-left: 14px;
    height: 210px;
}

.video h2 {
    font-size: 12px;
    font-weight: 600;
}

.video iframe {
    width: 90%;
    height: 180px;
    left: 50%;
    margin-left: -45%;
    position: absolute;
    border-radius: 10px;
}